#
# ansible-playbook create_static_server.yml --e "droplet_name=<name> install_indexdex=false git_branch=<git branch> aws_profile=doaj-test aws_access_key=<key> aws_secret_key=<key> aws_scret_id=<id>s" --private-key=~/.ssh/id_rsa -vv
#
---
- name: Bring up a new DOAJ test server
  hosts: localhost
  connection: local
  gather_facts: true

  roles:
    - role: install_roles

  vars:
    digitalocean_token: "{{ lookup('ansible.builtin.env', 'DIGITALOCEAN_TOKEN') }}"
    server_config: "{{ lookup('ansible.builtin.file', '../../cloud-init_userdata/doaj-test_cloud-config.txt') }}"
    droplet_name: static
    dns_prefix: '{{ droplet_name }}'
    dns_domain: doaj.cottagelabs.com
  
  tasks:

    - name: Create Droplet with root access Steve and Rama, using test server userdata
      digitalocean.cloud.droplet:
        state: present
        token: "{{ digitalocean_token }}"
        name: '{{droplet_name}}'
        region: lon1
        size: s-2vcpu-4gb
        tags:
          - doaj-test
          - firewall-web-ssh
        image: ubuntu-22-04-x64
        # Run task list_ssh_keys.yml to get the key IDs
        ssh_keys: ["30242381", "40223915"]
        ipv6: true
        unique_name: true
        monitoring: true
        backups: false
        with_droplet_agent: true
        user_data: "{{ server_config }}"

    - name: Get info on our new droplet to get the IP
      digitalocean.cloud.droplets_info:
        name: '{{droplet_name}}'
      register: dropletinfo

    - name: Parse out the assigned IP
      ansible.builtin.set_fact:
        public_ip: "{{ dropletinfo['droplets'][0]['networks']['v4'] | selectattr('type', '==', 'public') | map(attribute='ip_address') | first }}"
        droplet_id: "{{ dropletinfo['droplets'][0]['id'] }}"

    - name: Create domain A record
      digitalocean.cloud.domain_record:
        token: "{{ digitalocean_token }}"
        domain_name: '{{ dns_domain }}'
        type: A
        name: '{{ dns_prefix }}'
        data: "{{ public_ip }}"

    - name: Assign the new droplet to the DOAJ project using doctl
      local_action: ansible.builtin.command doctl projects resources assign f7668431-327e-47d8-9d7e-73e713fe1d4d --resource=do:droplet:{{ droplet_id }}

    - set_fact:
        remote_host_name: "{{ droplet_name }}"

    - add_host:
        name: "{{ public_ip }}"
        groups: test_servers

    - name: Output a summary including login command
      ansible.builtin.debug:
        msg: "Test server created: cloo@{{dns_prefix}}.{{dns_domain}} at IP {{public_ip}}"

    - name: Give 7 minutes for the server to be up
      pause:
        seconds: 420

- name: Run initial setup
  import_playbook: server_initial_setup.yml
  vars:
    target: "{{ hostvars.localhost.public_ip }}"
    server_name: "{{ hostvars.localhost.remote_host_name }}"
    ansible_user: "cloo"
    install_indexdex: true
    git_branch: "static_pages"

- name: Import Test data
  import_playbook: import_test_data.yml
  vars:
    target: "{{ hostvars.localhost.public_ip }}"
    ansible_user: "cloo"
