---
- hosts: all:!test
  tasks:
    - name: Ping all production hosts to check we're fully up and running
      ping:

- hosts: app:loadbalancer
  tasks:
    - name: Pull latest master from doaj GitHub
      git:
        repo: https://github.com/DOAJ/doaj.git
        dest: /home/cloo/doaj
        version: master
        update: yes
        clone: yes
        force: no
      register: code_updated

- hosts: app:loadbalancer
  tasks:
    - name: Run the service deploy script if there were code changes
      shell: /home/cloo/doaj/deploy/deploy.sh production
      when: code_updated.changed

- name: Purge Cloudflare cache if code was updated
  hosts: localhost
  connection: local
  gather_facts: false
  vars:
    cloudflare_api_token: "{{ lookup('ansible.builtin.env', 'CLOUDFLARE_API_TOKEN') }}"
    cloudflare_zone_id: "{{ lookup('ansible.builtin.env', 'CLOUDFLARE_ZONE_ID') }}"
  tasks:
    - name: Import Cloudflare purge tasks
      include_tasks: tasks/purge_cloudflare_tasks.yml
      when: hostvars[groups['app'][0]]['code_updated']['changed'] | default(false)
